@import '~normalize.css/normalize';
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import "./variables";
@import './components/footer';
@import './components/header';
@import './components/profile';
@import './components/form';
@import './components/eventItem';

$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

html {
  box-sizing: border-box;
  font-family: $open-sans;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  width: 95%;
  margin: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}